#signup-form {
  height: 95%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.MuiFormHelperText-root.Mui-error {
  font-size: 20px;
}

.MuiInputLabel-root {
  font-size: 40px !important;
}

.MuiInput-root {
  font-size: 40px !important;
}
